<div ng-repeat="room in rooms">
    <div ng-if="room.api_things.length" ng-init="ofirst = $first">
    <h1 ng-class="$ofirst ? 'xfirst' : ''">
        {{ room.room }}
        <span class="floor pull-right">{{ room.floor }}</span>
    </h1>
    <!--
    <pre>{{ room|json }}</pre>
    -->
    <div ng-repeat="api_thing in room.api_things">
        <div ng-controller="ThingController">
            <h2>
                {{ thing.name }}
                <span class="pull-right"><input type="checkbox" class="collect" ng-model="selected" /></span>
            </h2>
            <!--
            <pre>{{ thing|json }}</pre>
            -->
            <div ng-controller="AttributesController" ng-if="thing">
                <span ng-repeat="attribute in attributes">
                    <div class="attribute">
                        <center>
                        <div class="display"><attribute-display /></div>
                        <div class="name">{{ attribute._name }}</div>
                        <div class="value" ng-if="state && state[attribute._reading] != null">{{ state[attribute._reading] }}</div>
                        </center>
                    </div>
                    <!--
                    <pre>{{ attribute|json }}</pre>
                    -->
                </span>
                    <!--
                <pre>{{ state|json }}</pre>
                -->
            </div>
        </div>
    </div>
    </div>
    <!--
    -->
</div>
<br />
<br />
